/* components/InvoiceList/styles.css */
.invoiceListContainer {
  margin: 10px 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px;
}

.invoiceListContainer h2 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px 12px;
  border: 1px solid #e0e0e0;
}

.paginationControls {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: center;
}

.paginationControls button,
.paginationControls select {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 0.8rem;
  width: 96px;
}

.paginationControls button:disabled {
  opacity: 0.5;
}

.red {
  color: red;
}

.green {
  color: green;
}

.grey {
  color: grey;
}

.actionBtn {
  background-color: #81d5ff;
  border: 1px solid;
  margin-top: 4px;
}

.actionBtn.red {
  color: red;
  border-color: red;
}

.actionBtn.green {
  color: green;
  border-color: green;
}

.actionBtn.purple {
  color: purple;
  border-color: purple;
}

.kdv-1 {
  color: #ff6666;
}

.kdv-8 {
  color: #2fcbff;
}

.kdv-10 {
  color: #ffac05;
}

.kdv-18 {
  color: #43ff43;
}

.kdv-20 {
  color: #b061ff;
}

.kdv-total {
  color: #7f7f7f;
}

.iconBtn {
  background: none;
  border: none;
  margin-right: 4px;
}

.iconBtn.red {
  background-color: red;
}

.iconBtn.orange {
  background-color: orange;
}

.iconBtn.lila {
  background-color: #d8b2d8;
}

.iconBtn.yellow {
  background-color: yellow;
}
